<header>
  <h2>app-video-dashboard</h2>
</header>

<app-video-list
  [videos]="videoList | async"
  (chooseVideo)="setSelectedVideo($event)"
></app-video-list>
<app-video-player [video]="selectedVideo"></app-video-player>
<app-stat-filters></app-stat-filters>
